ce-photo-edit-embed {    

    display:block;
    margin-bottom:40px;

    h2,
    .photo-create {
        cursor:pointer;
    }

    .photo-description {
        height:300px;
        margin-bottom:30px;
    }
}


