@import "../../styles/base/_all";

ce-photo-gallery-slide-master-detail-embed {
    display:block;
	
    /*ce-photo-gallery-slide-edit-embed,
    ce-photo-gallery-slide-list-embed {
        float:left;
        display:inline-block;
        position:relative;
        width:50%;
    }*/
}