<div class="container">
    <div class="header-left">
        <h1>Photo Gallery Service</h1>
        <ce-link routesegments='[""]' class="photo-galleries" route-name="photo-gallery-master-detail" auth-required>Photo Galleries</ce-link>
        <ce-link routesegments='["photos"]' class="photos" route-name="photo-master-detail" auth-required>Photos</ce-link>
    </div>
    <div class="header-right">
        <ce-link routesegments='["change-password"]' class="change-password" auth-required>change password</ce-link>
        <ce-link routesegments='["login"]' class="logout" auth-required>logout</ce-link>
        <ce-link routesegments='["login"]' class="login" anonymous-required>login</ce-link>        
        <ce-link routesegments='["register"]' class="register" anonymous-required>register</ce-link>
    </div>
</div>

